/* page1 */

.page1 {
    background: url("./background-Images/photo-1469474968028-56623f02e42e.jpg")
        no-repeat center center fixed;
    background-size: 100%;
    font-family: "Open Sans", sans-serif;
    height: 100vh;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.04);
    background-color: #ffffff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}
nav .menu li a {
    height: 40px;
    line-height: 43px;
    margin: 0px;
    padding: 0px 22px;
    display: flex;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #585858;
    letter-spacing: 1px;
}

nav .menu li a:hover {
    background-color: #242424;
    color: #ffffff;
    box-shadow: 5px 10px 30px rgba(53, 53, 53, 0.1);
    transition: all ease 0.2s;
}
li {
    display: inline-block;
}
.button {
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background: none;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    width: 300px;
    height: 60px;
}
.button::after,
.button::before {
    border: 3px solid #ffffff;
    content: "";
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}
.button:hover::after {
    transform: translate(-5px, -5px);
}
.button:hover::before {
    transform: translate(5px, 5px);
}
h1 {
    text-align: center;
    position: relative;
    top: 170px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    opacity: 0.6;
    font-weight: 300;
}

/* page2 */
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.04);
    background-color: #ffffff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}
nav .menu2 li a {
    height: 40px;
    line-height: 43px;
    margin: 0px;
    padding: 0px 22px;
    display: flex;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #585858;
    letter-spacing: 1px;
}

nav .menu2 li a:hover {
    background-color: #242424;
    color: #ffffff;
    box-shadow: 5px 10px 30px rgba(53, 53, 53, 0.1);
    transition: all ease 0.2s;
}
li {
    display: inline-block;
}

/* caroussel  */

@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.slider-container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.left-slide {
    height: 100%;
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;
}

.left-slide > div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.left-slide h1 {
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: -30px;
}

.right-slide {
    height: 100%;
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
    transition: transform 0.5s ease-in-out;
}

.right-slide > div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
}

button {
    background-color: #fff;
    border: none;
    color: #aaa;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
}

button:hover {
    color: #222;
}

button:focus {
    outline: none;
}

.slider-container .action-buttons button {
    position: absolute;
    left: 35%;
    top: 50%;
    z-index: 100;
}

.slider-container .action-buttons .down-button {
    transform: translateX(-100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.slider-container .action-buttons .up-button {
    transform: translateY(-100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.heart-btn {
    position: absolute;

    z-index: 500;
    top: 90%;
    left: 90%;
    transform: translate(-50%, -50%);
}
.content {
    padding: 13px 16px;
    display: flex;
    border: 2px solid #eae2e1;
    border-radius: 5px;
    cursor: pointer;
}
.content.heart-active {
    border-color: #ffffff;
    background: #f8f8f8;
}
.heart {
    position: absolute;
    background: url("") no-repeat;
    background-position: left;
    background-size: 2900%;
    height: 90px;
    width: 90px;
    top: 50%;
    left: 21%;
    transform: translate(-50%, -50%);
}
.text {
    font-size: 21px;
    margin-left: 30px;
    color: white;
    font-family: "Montserrat", sans-serif;
}
.numb:before {
    content: "";
    font-size: 21px;
    margin-left: 7px;
    font-weight: 600;
    color: #ffffff;
    font-family: sans-serif;
}
.numb.heart-active:before {
    content: "💖";
    color: #000;
}
.text.heart-active {
    color: #000;
}
.heart.heart-active {
    animation: animate 0.8s steps(28) 1;
    background-position: right;
}
@keyframes animate {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

/* page 2 */

.page2 {
    background: url("./Imagessssssssss/giphy.gif");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: "Open Sans", sans-serif;
    height: 100vh;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.04);
    background-color: #ffffff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}
nav .menu li a {
    height: 40px;
    line-height: 43px;
    margin: 0px;
    padding: 0px 22px;
    display: flex;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #585858;
    letter-spacing: 1px;
}

nav .menu li a:hover {
    background-color: #242424;
    color: #ffffff;
    box-shadow: 5px 10px 30px rgba(53, 53, 53, 0.1);
    transition: all ease 0.2s;
}
li {
    display: inline-block;
}

.textt {
    text-align: center;
    position: relative;
    color: cadetblue;
    font-family: Arial;
    background: whitesmoke;
    font-size: 22px;
    border-radius: 10px;
    width: 80%;
    margin-left: 10%;
    font-style: italic;
    font-weight: 100;
}

.texttt {
    color: black;
    font-family: poppins;
    text-align: center;
    size: 80px;
}

.title {
    color: cadetblue;
    font-size: 50px;
}
.button2 {
    color: #fff;
    top: 80%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background: none;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    width: 300px;
    height: 60px;
}
.button2::after,
.button2::before {
    border: 3px solid #ffffff;
    content: "";
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}
.button2:hover::after {
    transform: translate(-5px, -5px);
}
.button2:hover::before {
    transform: translate(5px, 5px);
}
